table, td{
    border: 2px solid black;
    background-color: #6E6E6E;
    color: #99FF00;
}

th{
    background-color: #1C1C1C;
    color: #2EFEF7;
    border: 2px solid black;
}

body{
    background-color: #111111;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1{
    color: #33FFFF;
    margin-left: 10px;
    font-family: Tahoma, Helvetica, Sans-Serif;
    text-shadow: 3px 3px 3px #555;

}

h2{
    color: #01DF01;
    text-align: center;
}

h3{
    color: #CCCCCC;
}

b{
    color: #CCCCCC;
}

pre{
    width: 525px;
    padding: 5px;
    border: 2px dashed navy;
    margin: 3px;
    background-color: #BDBDBD;
}

p{
    font-size: 17px;
    color: #CCCCCC;
}

div {
    background-color: #222222;
    position: relative;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 980px;
    border: 1px solid #333333;
    padding: 10px;
}

object{
    border: 1px solid yellow;
    border-radius: 17px;
    margin-left: 25px;
    margin-bottom: 15px;
}

dt{
    color: #FF4000;
    font-weight: bold;
    font-family: "Comic Sans MS", Georgia, Serif;
}

hr{
    color: #08C;
}

.menu a{
    color: #00acec;
    width: 300px;
    text-decoration: none;
    margin: 3px;
    padding: 10px;

}

.menu a:hover{
    color: #FFFF00;
    text-decoration: none;
}

}

.rules ol li{
    color: white;
}

.menu{
    margin: 0;
    padding: 0;
    border: none;
}

.menu ul li{
    display: inline;
}

.menu ul{

}

dd{
    color: #D7DF01;
}